function background.setting 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
push this 0
call background.lifecounter 2
pop temp 0
push pointer 0
call background.drawcastle 1
pop temp 0
push constant 0
push constant 247
push constant 511
push constant 247
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 248
push constant 511
push constant 248
call Screen.drawLine 4
pop temp 0
push pointer 0
return
function background.drawcastle 0
push argument 0
pop pointer 0
push constant 0
push constant 230
push constant 140
push constant 215
call Screen.drawLine 4
pop temp 0
push constant 141
push constant 214
push constant 280
push constant 204
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 229
push constant 140
push constant 214
call Screen.drawLine 4
pop temp 0
push constant 141
push constant 213
push constant 280
push constant 203
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 145
push constant 281
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 282
push constant 145
push constant 282
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 282
push constant 218
push constant 400
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 219
push constant 400
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 401
push constant 228
push constant 511
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 401
push constant 229
push constant 511
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 144
push constant 311
push constant 144
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 143
push constant 311
push constant 143
call Screen.drawLine 4
pop temp 0
push constant 311
push constant 144
push constant 311
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 312
push constant 144
push constant 312
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 342
push constant 124
push constant 342
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 343
push constant 124
push constant 343
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 312
push constant 84
push constant 327
push constant 64
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 64
push constant 342
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 311
push constant 83
push constant 327
push constant 63
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 63
push constant 343
push constant 83
call Screen.drawLine 4
pop temp 0
push constant 344
push constant 124
push constant 384
push constant 124
call Screen.drawLine 4
pop temp 0
push constant 343
push constant 125
push constant 384
push constant 125
call Screen.drawLine 4
pop temp 0
push constant 384
push constant 124
push constant 384
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 385
push constant 125
push constant 385
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 420
push constant 100
push constant 420
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 421
push constant 99
push constant 421
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 380
push constant 38
push constant 425
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 380
push constant 37
push constant 425
push constant 37
call Screen.drawLine 4
pop temp 0
push constant 379
push constant 38
push constant 399
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 378
push constant 38
push constant 398
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 426
push constant 38
push constant 406
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 427
push constant 38
push constant 407
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 421
push constant 100
push constant 511
push constant 105
call Screen.drawLine 4
pop temp 0
push constant 421
push constant 99
push constant 511
push constant 104
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 85
push constant 80
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 81
push constant 85
push constant 81
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 55
push constant 81
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 56
push constant 81
push constant 69
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 85
push constant 311
push constant 121
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 86
push constant 311
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 63
push constant 327
push constant 18
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 20
push constant 307
push constant 28
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 36
push constant 307
push constant 28
call Screen.drawLine 4
pop temp 0
push constant 0
return
function background.redrawcastle 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
push constant 230
push constant 140
push constant 215
call Screen.drawLine 4
pop temp 0
push constant 141
push constant 214
push constant 280
push constant 204
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 229
push constant 140
push constant 214
call Screen.drawLine 4
pop temp 0
push constant 141
push constant 213
push constant 280
push constant 203
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 145
push constant 281
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 282
push constant 145
push constant 282
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 282
push constant 218
push constant 400
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 219
push constant 400
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 401
push constant 228
push constant 511
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 401
push constant 229
push constant 511
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 144
push constant 311
push constant 144
call Screen.drawLine 4
pop temp 0
push constant 281
push constant 143
push constant 311
push constant 143
call Screen.drawLine 4
pop temp 0
push constant 311
push constant 144
push constant 311
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 312
push constant 144
push constant 312
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 342
push constant 124
push constant 342
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 343
push constant 124
push constant 343
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 312
push constant 84
push constant 327
push constant 64
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 64
push constant 342
push constant 84
call Screen.drawLine 4
pop temp 0
push constant 311
push constant 83
push constant 327
push constant 63
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 63
push constant 343
push constant 83
call Screen.drawLine 4
pop temp 0
push constant 344
push constant 124
push constant 384
push constant 124
call Screen.drawLine 4
pop temp 0
push constant 343
push constant 125
push constant 384
push constant 125
call Screen.drawLine 4
pop temp 0
push constant 384
push constant 124
push constant 384
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 385
push constant 125
push constant 385
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 420
push constant 100
push constant 420
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 421
push constant 99
push constant 421
push constant 39
call Screen.drawLine 4
pop temp 0
push constant 380
push constant 38
push constant 425
push constant 38
call Screen.drawLine 4
pop temp 0
push constant 380
push constant 37
push constant 425
push constant 37
call Screen.drawLine 4
pop temp 0
push constant 379
push constant 38
push constant 399
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 378
push constant 38
push constant 398
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 426
push constant 38
push constant 406
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 427
push constant 38
push constant 407
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 85
push constant 80
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 81
push constant 85
push constant 81
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 55
push constant 81
push constant 68
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 56
push constant 81
push constant 69
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 85
push constant 311
push constant 121
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 86
push constant 311
push constant 122
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 63
push constant 327
push constant 18
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 20
push constant 307
push constant 28
call Screen.drawLine 4
pop temp 0
push constant 327
push constant 36
push constant 307
push constant 28
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 2
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push constant 6
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 50
push constant 222
push constant 53
push constant 224
call Screen.drawRectangle 4
pop temp 0
push constant 50
push constant 225
push constant 52
push constant 225
call Screen.drawLine 4
pop temp 0
push constant 79
push constant 221
push constant 82
push constant 221
call Screen.drawLine 4
pop temp 0
push constant 80
push constant 220
push constant 82
push constant 220
call Screen.drawLine 4
pop temp 0
push constant 81
push constant 219
push constant 83
push constant 219
call Screen.drawLine 4
pop temp 0
push constant 85
push constant 220
push constant 86
push constant 219
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
label IF_FALSE0
push argument 2
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop local 0
label IF_FALSE2
push argument 2
push constant 5
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop local 0
label IF_FALSE3
push argument 1
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 21
push constant 228
push constant 22
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 21
push constant 227
push constant 22
push constant 227
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 227
push constant 26
push constant 227
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 226
push constant 26
push constant 226
call Screen.drawLine 4
pop temp 0
push constant 43
push constant 225
push constant 47
push constant 225
call Screen.drawLine 4
pop temp 0
push constant 43
push constant 224
push constant 47
push constant 224
call Screen.drawLine 4
pop temp 0
label IF_FALSE5
label IF_FALSE4
push argument 1
push constant 11
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 21
push constant 228
push constant 22
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 21
push constant 227
push constant 22
push constant 227
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 227
push constant 26
push constant 227
call Screen.drawLine 4
pop temp 0
push constant 25
push constant 226
push constant 26
push constant 226
call Screen.drawLine 4
pop temp 0
push constant 43
push constant 225
push constant 47
push constant 225
call Screen.drawLine 4
pop temp 0
push constant 43
push constant 224
push constant 47
push constant 224
call Screen.drawLine 4
pop temp 0
label IF_FALSE7
label IF_FALSE6
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function background.drawheart 0
push argument 0
pop pointer 0
push argument 1
push constant 12
call Screen.drawPixel 2
pop temp 0
push argument 1
push constant 12
add
push constant 12
call Screen.drawPixel 2
pop temp 0
push argument 1
push constant 11
push argument 1
push constant 3
add
push constant 8
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 4
add
push constant 9
push argument 1
push constant 6
add
push constant 11
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push constant 10
push argument 1
push constant 9
add
push constant 8
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 10
add
push constant 9
push argument 1
push constant 12
add
push constant 11
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 13
push argument 1
push constant 6
add
push constant 19
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push constant 18
push argument 1
push constant 12
add
push constant 13
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 10
push argument 1
push constant 2
add
push constant 8
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 4
add
push constant 8
push argument 1
push constant 6
add
push constant 10
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push constant 9
push argument 1
push constant 8
add
push constant 8
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 10
add
push constant 8
push argument 1
push constant 12
add
push constant 10
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 14
push argument 1
push constant 6
add
push constant 20
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 7
add
push constant 19
push argument 1
push constant 12
add
push constant 14
call Screen.drawLine 4
pop temp 0
push constant 0
return
function background.lifecounter 1
push argument 0
pop pointer 0
push constant 8
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 7
push constant 4
push constant 100
push constant 20
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push argument 1
push constant 0
gt
not
if-goto WHILE_END0
push pointer 0
push local 0
call background.drawheart 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push local 0
push constant 17
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function background.damage 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
push this 0
call background.lifecounter 2
pop temp 0
push constant 0
return
function background.report 0
push argument 0
pop pointer 0
push this 0
return
