function nhaam_kick.new 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 2
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 34
add
push constant 10240
call Memory.poke 2
pop temp 0
push local 0
push constant 66
add
push constant 18432
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 17412
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 17414
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 17397
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 8477
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 14601
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 352
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 32763
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 29707
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 864
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 16375
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 16380
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 24592
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 32640
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 323
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 29680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 12320
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 1136
call Memory.poke 2
pop temp 0
push local 0
push constant 355
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 22544
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 6176
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 25615
call Memory.poke 2
pop temp 0
push local 0
push constant 387
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28696
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 3136
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 30654
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 419
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 24600
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 9088
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 6204
call Memory.poke 2
pop temp 0
push local 0
push constant 451
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16376
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 4480
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 9232
call Memory.poke 2
pop temp 0
push local 0
push constant 483
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 32760
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 7937
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 9698
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 515
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 4349
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 11007
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 547
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 17926
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 23296
call Memory.poke 2
pop temp 0
push local 0
push constant 579
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 32308
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 30013
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 611
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 120
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 6332
call Memory.poke 2
pop temp 0
push local 0
push constant 643
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 675
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 2144
call Memory.poke 2
pop temp 0
push local 0
push constant 706
add
push constant 32696
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 707
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 26
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 1216
call Memory.poke 2
pop temp 0
push local 0
push constant 738
add
push constant 32732
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 739
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 22
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 1920
call Memory.poke 2
pop temp 0
push local 0
push constant 770
add
push constant 16402
call Memory.poke 2
pop temp 0
push local 0
push constant 771
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 24607
call Memory.poke 2
pop temp 0
push local 0
push constant 803
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 14848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 14143
call Memory.poke 2
pop temp 0
push local 0
push constant 835
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 19456
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 26127
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 867
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 16577
call Memory.poke 2
pop temp 0
push local 0
push constant 899
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 15936
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 1984
call Memory.poke 2
pop temp 0
push local 0
push constant 995
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 29312
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1027
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 1058
add
push constant 8952
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1059
add
push constant 11
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 1090
add
push constant 22796
call Memory.poke 2
pop temp 0
push local 0
push constant 1091
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 24704
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 32449
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 13575
call Memory.poke 2
pop temp 0
push local 0
push constant 1123
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 1808
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 6918
call Memory.poke 2
pop temp 0
push local 0
push constant 1155
add
push constant 10
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 29184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 3855
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 31486
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1187
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 30720
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 4546
call Memory.poke 2
pop temp 0
push local 0
push constant 1218
add
push constant 15615
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 30961
call Memory.poke 2
pop temp 0
push local 0
push constant 1250
add
push constant 25345
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 14231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1282
add
push constant 14208
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 1591
call Memory.poke 2
pop temp 0
push local 0
push constant 1314
add
push constant 7392
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 1816
call Memory.poke 2
pop temp 0
push local 0
push constant 1346
add
push constant 2136
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 628
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1378
add
push constant 71
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 1218
call Memory.poke 2
pop temp 0
push local 0
push constant 1410
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 2147
call Memory.poke 2
pop temp 0
push local 0
push constant 1442
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 6192
call Memory.poke 2
pop temp 0
push local 0
push constant 1474
add
push constant 3520
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1505
add
push constant 6152
call Memory.poke 2
pop temp 0
push local 0
push constant 1506
add
push constant 6496
call Memory.poke 2
pop temp 0
push local 0
push constant 1536
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 1537
add
push constant 6152
call Memory.poke 2
pop temp 0
push local 0
push constant 1538
add
push constant 12476
call Memory.poke 2
pop temp 0
push local 0
push constant 1568
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 1569
add
push constant 6140
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1570
add
push constant 16487
call Memory.poke 2
pop temp 0
push local 0
push constant 1600
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1601
add
push constant 13316
call Memory.poke 2
pop temp 0
push local 0
push constant 1602
add
push constant 32744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1632
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 1633
add
push constant 15355
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1634
add
push constant 16249
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1635
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1665
add
push constant 31737
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1666
add
push constant 16000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1667
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1697
add
push constant 31744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1698
add
push constant 26240
call Memory.poke 2
pop temp 0
push local 0
push constant 1699
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1729
add
push constant 31744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1730
add
push constant 15488
call Memory.poke 2
pop temp 0
push local 0
push constant 1731
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 1761
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 1762
add
push constant 7297
call Memory.poke 2
pop temp 0
push local 0
push constant 1763
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 1793
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 1794
add
push constant 2177
call Memory.poke 2
pop temp 0
push local 0
push constant 1795
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 1825
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 1826
add
push constant 3457
call Memory.poke 2
pop temp 0
push local 0
push constant 1827
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1857
add
push constant 30720
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1858
add
push constant 3715
call Memory.poke 2
pop temp 0
push local 0
push constant 1859
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 1889
add
push constant 28672
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1890
add
push constant 12419
call Memory.poke 2
pop temp 0
push local 0
push constant 1891
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 1921
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1922
add
push constant 24703
call Memory.poke 2
pop temp 0
push local 0
push constant 1923
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 1953
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1954
add
push constant 32736
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1955
add
push constant 769
call Memory.poke 2
pop temp 0
push local 0
push constant 1985
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1986
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 1987
add
push constant 1030
call Memory.poke 2
pop temp 0
push local 0
push constant 2017
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 2018
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2019
add
push constant 2072
call Memory.poke 2
pop temp 0
push local 0
push constant 2049
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 2050
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2051
add
push constant 4128
call Memory.poke 2
pop temp 0
push local 0
push constant 2081
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 2082
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2083
add
push constant 8096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2113
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 2114
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2115
add
push constant 16256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2145
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 2146
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2147
add
push constant 7808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2177
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 2178
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 2179
add
push constant 9728
call Memory.poke 2
pop temp 0
push local 0
push constant 2210
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 2211
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 2242
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 2243
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 2274
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 2275
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 2306
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 2307
add
push constant 32767
push constant 1
add
call Memory.poke 2
pop temp 0
push local 0
push constant 2338
add
push constant 66
call Memory.poke 2
pop temp 0
push local 0
push constant 2370
add
push constant 66
call Memory.poke 2
pop temp 0
push local 0
push constant 2402
add
push constant 66
call Memory.poke 2
pop temp 0
push local 0
push constant 2434
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 2466
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 2498
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 2530
add
push constant 132
call Memory.poke 2
pop temp 0
push local 0
push constant 2562
add
push constant 132
call Memory.poke 2
pop temp 0
push local 0
push constant 2594
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 2626
add
push constant 264
call Memory.poke 2
pop temp 0
push local 0
push constant 2658
add
push constant 264
call Memory.poke 2
pop temp 0
push local 0
push constant 2690
add
push constant 784
call Memory.poke 2
pop temp 0
push local 0
push constant 2722
add
push constant 1264
call Memory.poke 2
pop temp 0
push local 0
push constant 2754
add
push constant 7816
call Memory.poke 2
pop temp 0
push local 0
push constant 2786
add
push constant 29080
call Memory.poke 2
pop temp 0
push local 0
push constant 2818
add
push constant 9968
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2819
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2850
add
push constant 29168
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2851
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2882
add
push constant 24624
call Memory.poke 2
pop temp 0
push local 0
push constant 2883
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 2914
add
push constant 6384
call Memory.poke 2
pop temp 0
push local 0
push constant 2915
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 2946
add
push constant 14576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 2947
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 2978
add
push constant 29168
call Memory.poke 2
pop temp 0
push local 0
push constant 3010
add
push constant 8064
call Memory.poke 2
pop temp 0
push constant 0
return
